#question {
  background-color: #00b4db;
  border-radius: 1rem;
  padding: 2rem;
  width: 500px;
}

#question p {
  margin-bottom: 1rem;
  color: #000;
  font-size: 20px;
}

#question h2 {
  margin-bottom: 2rem;
}

#question button {
  border: 1.5px solid #fff;
  margin: 1rem;
}
